header {
    margin:5em 0em 0em 10em;
    height: 18em;
    background-image: url("rymlogo.png") ;
    background-repeat: no-repeat;
    
}

/* body  { */
    /* background-image:url("fondorym.png");
    background-repeat: no-repeat;
  */
   

    
/* } */
main {
    background-color: aquamarine;
    height: 80%;
}

footer {
    background-color: blanchedalmond;
    height: 10em;
    width: 100%;
    position:absolute;

}